.Scanner {
    background-color: #8f8d8d;
    border: 1px solid #8f8d8d;
    padding: 20px;
    height: 300px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  
  .scanner-result span {
    font-weight: bold;
    margin-right: 5px;
    color: white;
  }

  .scanner-result label {
    font-weight: bold;
    margin-right: 5px;
    color: white;
  }


.rescan-button {
    background-color: #1C336C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
  
.rescan-button:hover {
    background-color: #00C7C8;
}

.save-button {
    background-color: #1C336C;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
  
.save-button:hover {
    background-color: #00C7C8;
}